.friends-list-cont {
  padding-top: 100px;
  max-width: 800px;
  margin: 0 auto;
}

.friends-list-cont h1 {
  background: #2ecc71;
  padding-bottom: 5px;
  color: white;
  border-radius: 4px;
  margin-bottom: 10px;
}

.friend-card {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  position: relative;
}

.friend-card h2 {
  background: white;
  padding-bottom: 5px;
  text-align: left;
  padding: 10px 15px 15px 15px;
  border-radius: 4px;
}

.friend-card hover-elem {
}
